body{
    margin: 0;
}
nav{
     margin: 0;
    background-color: rgb(243, 179, 5);
    display: flex;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
     justify-content: space-between;
}
    
li{
    list-style: none;
    margin: 0px 2px;
}

navbar{
      background-color: rgb(243, 179, 5);
    margin: 0;
    display: inline-block;
    padding: 3oopx;
     justify-content: space-between;


img{
    width: 500px;
    
}
head{
        display: inline;
        
}
body
ul{
    display: flex;
     margin: 0;
      padding: 35px;
      font-size: large;
}
section{
        width: 200px;
         justify-content: space-between;
         display: block;
         
}

div1{
    text-align: justify;
}

div2{
    width: 200px;
    height: 40px;
}

div3{
    
}